src/main/resources/jaxb/customer/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="customer-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="customer" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customer">
		<xs:complexType>
			<xs:all>
				<xs:element name="zipcode" type="xs:string"/>
				<xs:element name="name" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
